/* <link>style.css</link> */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 50px); /* Subtract the height of the navbar (adjust as needed) */
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale video to cover the entire element */
    z-index: -1;
}

.hit-the-floor {
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 
      0 1px 0 #ccc, 
      0 2px 0 #c9c9c9, 
      0 3px 0 #bbb, 
      0 4px 0 #b9b9b9, 
      0 5px 0 #aaa, 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
    text-align: center;
}

body {
    background-color: #f1f1f1;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .hit-the-floor {
        font-size: 3em; /* Adjust the font size for smaller screens */
    }
}


/* Intro section styles */
.intro-section {
    position: relative;
    height: 100vh;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-section .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.intro-section h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.intro-section p {
    font-size: 18px;
    margin-bottom: 20px;
}
/* Scroll down arrow styles */
.scroll-down a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

/* Arrow icon styles */
.scroll-down a::after {
    content: "↓";
    display: block;
    font-size: 50px;
    margin-top: 10px;
    transition: transform 0.3s;
}

.scroll-down a:hover::after {
    transform: translateY(5px);
}

/* Original Navbar styles for larger screens */
.navbar {
    background-color: rgb(11, 76, 125);
    color: #fff;
    padding: 10px 0;
    position: relative;
    z-index: 1;
    transition: background 0.3s, top 0.3s;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 40px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px;
}

.navbar .logo h1 {
    font-size: 20px;
}

.navbar .menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 0;
    position: relative; /* Add relative positioning */
    transition: color 0.3s, transform 0.3s;
}

/* Add a square border around the text on hover */
.navbar .menu a::before {
    content: ''; /* Create a pseudo-element */
    position: absolute; /* Position it absolutely within the link */
    width: 0;
    height: 0;
    border: 3px solid transparent; /* Adjust border size as needed */
    top: 0;
    left: 0;
    transition: width 0.5s, height 0.5s;
    z-index: -1; /* Place it behind the text */
}
.navbar:hover{
    transform: scale(1.05); 
}
.navbar .menu a:hover::before {
    width: 100%; /* Expand the square horizontally */
    height: 100%; /* Expand the square vertically */
    border-color: white;
    border-radius: 50%;   
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .navbar {
        padding: 5px 0; /* Adjust padding for smaller screens */
    }
    
    .navbar .container {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .navbar .menu {
        text-align: center; /* Center-align menu items */
        margin-top: -20px;
    }

    .navbar .menu a {
        display: inline-table; /* Make menu items full width */
        margin: 5px; /* Add spacing between menu items */
    }

    .navbar .logo {
        margin-bottom: 20px; /* Add spacing between logo and menu */
    }
}


.subheader {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .subheader-button {
    background-color: rgb(11, 76, 125);
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    border-radius: 50px;
    box-shadow: 0 5px #666;
  }
  

/* Section styles */
.section {
    padding: 40px 0;
    text-align: center;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.section p {
    font-size: 16px;
}

.about-description {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact form styles */
.contact-form {
    margin-top: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: rgb(11, 76, 125);
    color: #fff;
    border: none;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #555;
}
/* Footer styles */
/* Footer styles */
footer {
    background-color: rgb(11, 76, 125);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .contact-info {
    text-align: center;
    margin-bottom: 10px; /* Add margin for spacing */
}

.footer .copyright {
    margin-top: 20px; /* Add margin for spacing */
}


#meet-team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
  
  .team-card {
    width: 200px;
    padding: 20px;
    border: 1px solid white;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s;
    background: rgb(11, 76, 125);

    /* background: linear-gradient(to right bottom, transparent 0%, rgb(11, 76, 125) 80%); */
  }

  .team-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }
  
  .team-card h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #f1f1f1;
  }
  
  .team-card p {
    font-size: 14px;
    color: #bcbaba;
    margin-bottom: 20px;
  }
  
  .team-card .social-contact {
    display: block;
    margin-top: 10px;
  }
  
  .connector {
    position: absolute;
    width: 1px;
    background: #ccc;
    height: 60px;
    top: 50px;

    width: 2px;
    background: #ccc;
  }
  
  /* Style for social contact (Facebook) */
    .social-contact img {
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }
  
  .team-card:hover {
    transform: scale(1.05); /* Pop effect on hover */
  }
  
  #meet-header{
    text-align: center;
    padding-top: 30px;
    margin-bottom: -20px;
  }
  
 
  .photo-book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.photo-book-item {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.photo-book-item img {
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    transition: transform 0.3s ease-in-out;
}

.photo-book-item:hover {
    transform: scale(1.05);
}

.photo-book-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.photo-book-item:hover::before {
    opacity: 1;
}


/* Lightbox modal styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    text-align: center;
}

.lightbox-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* CSS for navigation buttons */
.nav-btns {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    transform: translateY(-50%);
    z-index: 2;
}

.nav-btns button {
    background-color: white;
    color: rgb(11, 76, 125);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-btns button:hover {
    background-color: rgb(11, 76, 125);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .photo-book-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 10px;
        /* Additional styles */
    }

    .lightbox {
        max-width: 90%;
        /* Additional styles */
    }
}

@media screen and (max-width: 480px) {
    .photo-book-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 5px;
        /* Additional styles */
    }

    .lightbox {
        max-width: 95%;
        /* Additional styles */
    }
}

#more-pictures-btn {
    background-color: rgb(11, 76, 125);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #more-pictures-btn:hover {
    background-color: #555;
  }
  

 
  #blog {
    padding: 40px 20px;
  }
  
  .blog-posts {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr); /* Display in three columns */
  }
  
  .blog-post {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .blog-post h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .blog-post p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    .blog-posts {
      grid-template-columns: 1fr; /* Change to single column on smaller screens */
    }
  }
  
  .read-more {
    display: inline-block;
    background-color: rgb(11, 76, 125);
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .read-more:hover {
    background-color: #555;
  }

  .full-description {
    display: none;
}